<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trading Star-{%block title%}{%endblock title%}</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {% load static %}

    <link rel="stylesheet" href="{% static 'style.css' %}">
    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
        integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
        crossorigin="anonymous"></script>
    {% block stylesheets%}{% endblock stylesheets%}
   <style type="text/css">
    #ui-id-1 {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        max-width: 100% !important;
        max-height: 300px !important;
        overflow-y: auto !important;
        overflow-x: hidden !important;
        list-style: none;
        border-radius: 5%;

    }

    #ui-id-1 li{
        padding: 1px;
        border-bottom: 1px solid gray;
    }
    #ui-id-1 li:hover {
        background-color: #999;
        color: darkslategray !important;
    }
    </style>

</head>

<body>

    <div class="wrapper">
        {% include 'sidebar.html' %}

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" style="border: none">
                        <i class="fas fa-align-left"></i>
                    </button>
                    <form class="d-flex" method=POST action="{% url 'stockdetails' %}">
                        {% csrf_token %}

                        <input class="form-control me-2" type="search" id="search_bar" placeholder="Search Venues"
                            aria-label="Search" name="searched">
                        <button class="btn btn-outline-secondary" type="submit">Search</button>
                    </form>
                    <div class="align-self-center">
                        <h3>{% block pagehead %} {% endblock pagehead%}</h3>
                    </div>
                </div>
            </nav>

            {% block content%} {%endblock content %}

        </div>
    </div>


    <!-- Specific JS goes HERE -->

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script
        src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@master/dist/latest/bootstrap-autocomplete.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="https://kit.fontawesome.com/1f2a0a7db7.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

    <script src="{% static 'main.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>
    <script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"
        integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script type="text/javascript">

        $(document).ready(function () {

            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
            $('.navbar-list li a').click(function (e) {
                $('.navbar-list li.active').removeClass('active');
                var $parent = $(this).parent();
                $parent.addClass('active');

            });
            var stock_list = {{ stockList| safe}};
        $("#search_bar").autocomplete({
            source: stock_list,
            minlength: 1,
        });
  
        });

        // function autocomplete(inp, arr) {
        //     /*the autocomplete function takes two arguments,
        //     the text field element and an array of possible autocompleted values:*/
        //     var currentFocus;
        //     /*execute a function when someone writes in the text field:*/
        //     inp.addEventListener("input", function (e) {
        //         var a, b, i, val = this.value;
        //         /*close any already open lists of autocompleted values*/
        //         closeAllLists();
        //         if (!val) { return false; }
        //         currentFocus = -1;
        //         /*create a DIV element that will contain the items (values):*/
        //         a = document.createElement("DIV");
        //         a.setAttribute("id", this.id + "autocomplete-list");
        //         a.setAttribute("class", "autocomplete-items");
        //         /*append the DIV element as a child of the autocomplete container:*/
        //         this.parentNode.appendChild(a);
        //         /*for each item in the array...*/
        //         for (i = 0; i < arr.length; i++) {
        //             /*check if the item starts with the same letters as the text field value:*/
        //             if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
        //                 /*create a DIV element for each matching element:*/
        //                 b = document.createElement("DIV");
        //                 /*make the matching letters bold:*/
        //                 b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
        //                 b.innerHTML += arr[i].substr(val.length);
        //                 /*insert a input field that will hold the current array item's value:*/
        //                 b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
        //                 /*execute a function when someone clicks on the item value (DIV element):*/
        //                 b.addEventListener("click", function (e) {
        //                     /*insert the value for the autocomplete text field:*/
        //                     inp.value = this.getElementsByTagName("input")[0].value;
        //                     /*close the list of autocompleted values,
        //                     (or any other open lists of autocompleted values:*/
        //                     closeAllLists();
        //                 });
        //                 a.appendChild(b);
        //             }
        //         }
        //     });
        //     /*execute a function presses a key on the keyboard:*/
        //     inp.addEventListener("keydown", function (e) {
        //         var x = document.getElementById(this.id + "autocomplete-list");
        //         if (x) x = x.getElementsByTagName("div");
        //         if (e.keyCode == 40) {
        //             /*If the arrow DOWN key is pressed,
        //             increase the currentFocus variable:*/
        //             currentFocus++;
        //             /*and and make the current item more visible:*/
        //             addActive(x);
        //         } else if (e.keyCode == 38) { //up
        //             /*If the arrow UP key is pressed,
        //             decrease the currentFocus variable:*/
        //             currentFocus--;
        //             /*and and make the current item more visible:*/
        //             addActive(x);
        //         } else if (e.keyCode == 13) {
        //             /*If the ENTER key is pressed, prevent the form from being submitted,*/
        //             e.preventDefault();
        //             if (currentFocus > -1) {
        //                 /*and simulate a click on the "active" item:*/
        //                 if (x) x[currentFocus].click();
        //             }
        //         }
        //     });
        //     function addActive(x) {
        //         /*a function to classify an item as "active":*/
        //         if (!x) return false;
        //         /*start by removing the "active" class on all items:*/
        //         removeActive(x);
        //         if (currentFocus >= x.length) currentFocus = 0;
        //         if (currentFocus < 0) currentFocus = (x.length - 1);
        //         /*add class "autocomplete-active":*/
        //         x[currentFocus].classList.add("autocomplete-active");
        //     }
        //     function removeActive(x) {
        //         /*a function to remove the "active" class from all autocomplete items:*/
        //         for (var i = 0; i < x.length; i++) {
        //             x[i].classList.remove("autocomplete-active");
        //         }
        //     }
        //     function closeAllLists(elmnt) {
        //         /*close all autocomplete lists in the document,
        //         except the one passed as an argument:*/
        //         var x = document.getElementsByClassName("autocomplete-items");
        //         for (var i = 0; i < x.length; i++) {
        //             if (elmnt != x[i] && elmnt != inp) {
        //                 x[i].parentNode.removeChild(x[i]);
        //             }
        //         }
        //     }
        //     /*execute a function when someone clicks in the document:*/
        //     document.addEventListener("click", function (e) {
        //         closeAllLists(e.target);
        //     });


        // }
        // autocomplete(document.getElementById("stockList"), stock_list);
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.ui-helper-hidden-accessible').remove();
            $('#ui-id-1').ready(function () {
                var parrent = document.getElementById("#ui-id-1");
                console.log(parrent);
                var parent = $(this).parent();;
                parent.addClass("dropdown-menu");
                // parrent.style.maxHeight = "300px";
            });
        });

    </script>

    {% block javascripts %}{% endblock javascripts %}
</body>

</html>